* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}


/* Navbar start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 5%;
    border-bottom: 1px solid #e5e7eb;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #0f172a;
}

.nav-logo i {
    color: #2563eb;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #4b5563;
    font-size: 15px;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #2563eb;
}

.btn-register {
    display: inline-block;
    text-decoration: none;
    background-color: #2563eb;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

.btn-register:hover {
    background-color: #1d4ed8;
}

/* Navbar Section end */